<div *ngIf="game">
    <div class="media">
        <div class="media-left">
            <a>
                <img class="media-object" src="{{game.data.image}}" width="64px" height="64px" (click)="hideDetails()">
            </a>
        </div>
        <div class="media-body">
            <h4 class="media-heading">
                {{game.name}} ({{game.data.year}})
            </h4>
        </div>
    </div>
    <div class="full-details-container-description">
        <p [innerHTML]="game.data.description"></p>
    </div>
    <div>
        <span class="glyphicon glyphicon-user" aria-hidden="true"></span> {{game.data.minPlayers}}-{{game.data.maxPlayers}}
    </div>
    <div>
        <span class="glyphicon glyphicon-hourglass" aria-hidden="true"></span> {{game.data.playingTime}} min
    </div>
    <div>
        <span class="glyphicon glyphicon-star" aria-hidden="true"></span> {{game.data.rating| number:'1.1-1'}}/10
    </div>
    <div>
        <span class="glyphicon glyphicon-knight" aria-hidden="true"></span> {{game.playsCount}} play(s)
    </div>
    <div>
        <span class="glyphicon glyphicon-tags" aria-hidden="true"></span> {{game.data.categories}}
    </div>
    <div>
        <span class="glyphicon glyphicon-flash" aria-hidden="true"></span> {{game.data.mechanisms}}
    </div>
    <div>
        <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
        <span *ngIf="game.data.type === 'EXPANSION'">Expansion </span>
        <span *ngIf="game.data.type === 'GAME'">Game </span>
        <span *ngIf="game.status === 'OWNED'"> owned</span>
        <span *ngIf="game.status === 'PREVIOUSLY_OWNED'">previously owned</span>
    </div>
    <div class="full-details-container-button">
        <button type="button" md-button (click)="close()">
            <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span> Close
        </button>
    </div>
</div>