<div *ngIf="auth.isAuthenticated()">
    <toaster-container></toaster-container>
    <div *ngIf="bggUser">
        <div *ngIf="loading">
            <md-spinner></md-spinner>
        </div>
        <div *ngIf="!loading">
            <div class="filtering-menu">
                <md-slide-toggle class="online-menu-toggle" [(ngModel)]="includeExpansion" (change)="filterGames()">
                    Expansions
                </md-slide-toggle>
                <md-slide-toggle class="online-menu-toggle" [(ngModel)]="includePreviouslyOwned" (change)="filterGames()">
                    Previously Owned
                </md-slide-toggle>
                <span>{{displayedGames.length}} games</span>
            </div>
            <div fxLayoutWrap class="btn-group library-btn" data-toggle="buttons">
                <button md-icon-button (click)="sortByName()" data-toggle="tooltip" title="Sort by name">
                    <span *ngIf="nameOrderAsc == 1" class="button-icon glyphicon glyphicon-sort-by-alphabet" aria-hidden="true"></span>
                    <span *ngIf="nameOrderAsc == -1" class="button-icon glyphicon glyphicon-sort-by-alphabet-alt" aria-hidden="true"></span>
                </button>
                <button md-icon-button (click)="sortByRating()" data-toggle="tooltip" title="Sort by rating">
                    <span *ngIf="ratingOrderAsc == -1" class="button-icon glyphicon glyphicon-sort-by-order" aria-hidden="true"></span>
                    <span *ngIf="ratingOrderAsc == 1" class="button-icon glyphicon glyphicon-sort-by-order-alt" aria-hidden="true"></span>
                </button>
                <button md-icon-button (click)="sortByPlaysCount()" data-toggle="tooltip" title="Sort by plays count">
                    <span *ngIf="playsCountOrderAsc == -1" class="button-icon glyphicon glyphicon-sort-by-attributes" aria-hidden="true"></span>
                    <span *ngIf="playsCountOrderAsc == 1" class="button-icon glyphicon glyphicon-sort-by-attributes-alt" aria-hidden="true"></span>
                </button>
                <button md-icon-button (click)="sortByPlaysDate()" data-toggle="tooltip" title="Sort by plays date">
                    <span *ngIf="playsDateOrderAsc == -1" class="button-icon glyphicon glyphicon glyphicon-calendar" aria-hidden="true"></span>
                    <span *ngIf="playsDateOrderAsc == 1" class="button-icon glyphicon glyphicon glyphicon-calendar" aria-hidden="true"></span>
                </button>
                <div mdTooltip="Players count" mdTooltipPosition="right">
                    <md-slider [min]="1" [max]="10" [step]="1" [thumb-label]="true" [tick-interval]="1" [value]="playerCountFilter" (input)="onSliderPlayerCountEvent($event)">
                    </md-slider>
                </div>
            </div>

            <div fxLayoutWrap>
                <div *ngFor="let game of displayedGames" (click)="onSelect(game)">
                    <app-games-library-thumbnail [game]="game"></app-games-library-thumbnail>
                </div>
            </div>
        </div>
    </div>
</div>