<div *ngIf="auth.isAuthenticated()">
    <toaster-container></toaster-container>
    <div *ngIf="bggUser">
        <div *ngIf="loading">
            <md-spinner></md-spinner>
        </div>
        <div *ngIf="!loading">
            <div fxLayoutWrap class="btn-group library-btn" data-toggle="buttons">
                <button md-icon-button (click)="sortByName()" data-toggle="tooltip" title="Sort by name">
                    <span *ngIf="nameOrderAsc == 1" class="button-icon glyphicon glyphicon-sort-by-alphabet" aria-hidden="true"></span>
                    <span *ngIf="nameOrderAsc == -1" class="button-icon glyphicon glyphicon-sort-by-alphabet-alt" aria-hidden="true"></span>
                </button>
                <button md-icon-button (click)="sortByRating()" data-toggle="tooltip" title="Sort by rating">
                    <span *ngIf="ratingOrderAsc == -1" class="button-icon glyphicon glyphicon-sort-by-order" aria-hidden="true"></span>
                    <span *ngIf="ratingOrderAsc == 1" class="button-icon glyphicon glyphicon-sort-by-order-alt" aria-hidden="true"></span>
                </button>
                <button md-icon-button (click)="sortByPlays()" data-toggle="tooltip" title="Sort by plays">
                    <span *ngIf="playsOrderAsc == -1" class="button-icon glyphicon glyphicon-sort-by-attributes" aria-hidden="true"></span>
                    <span *ngIf="playsOrderAsc == 1" class="button-icon glyphicon glyphicon-sort-by-attributes-alt" aria-hidden="true"></span>
                </button>
            </div>

            <h3>I've played to {{displayedGamesCount}} games</h3>

            <div fxLayoutWrap>
                <div *ngFor="let game of displayedGames | SortByRatingPipe:ratingOrderAsc  | SortByPlaysCountPipe:playsOrderAsc | SortByNamePipe:nameOrderAsc" (click)="onSelect(game)">
                    <app-games-library-thumbnail [game]="game"></app-games-library-thumbnail>
                </div>
            </div>
        </div>
    </div>
</div>