/games-statistics-global.component.js
/games-statistics-global.component.js.map
/games-statistics-ranking.component.js
/games-statistics-ranking.component.js.map
/games-statistics-year.component.js
/games-statistics-year.component.js.map
/games-statistics.component.js
/games-statistics.component.js.map
/games-statistics.service.js
/games-statistics.service.js.map
