<div *ngIf="currentUser">
    <toaster-container></toaster-container>
    <div class="filtering-menu">
        <mat-slide-toggle class="online-menu-toggle" [(ngModel)]="includeExpansion" (change)="updateStats()">
            Expansions
        </mat-slide-toggle>
        <mat-slide-toggle class="online-menu-toggle" [(ngModel)]="includePreviouslyOwned" (change)="updateStats()">
            Previously Owned
        </mat-slide-toggle>
    </div>
    <div class="statistics-container">
        <div *ngIf="loading">
            <mat-spinner></mat-spinner>
        </div>
        <div *ngIf="!loading && stats">
            <app-games-statistics-global class="col-sm-12" [stats]="stats"></app-games-statistics-global>
            <app-games-statistics-ranking class="col-sm-6" [stats]="stats"></app-games-statistics-ranking>
            <app-games-statistics-year class="col-sm-6" [stats]="stats"></app-games-statistics-year>
            <app-games-statistics-plays class="col-sm-6" [stats]="stats"></app-games-statistics-plays>
        </div>
    </div>
</div>
<div *ngIf="!loading && !currentUser">
    <h3>
        <p>Your boardgamegeek user is not yet configured.</p>
        <p>Please, send a mail to
            <A HREF="mailto:admin@my-games.ovh">admin@my-games.ovh</A>, with your BGG login, so that I configure your My-Games account!</p>
    </h3>
</div>