<div *ngIf="auth.isAuthenticated()">
    <div *ngIf="bggUser">
        <toaster-container></toaster-container>
        <app-online-menu (reloadAction)="reload($event)"></app-online-menu>

        <div class="statistics-container">
            <div *ngIf="loading">
                <md-spinner></md-spinner>
            </div>
            <div *ngIf="!loading && stats != null">
                <app-games-statistics-global class="col-sm-12" [stats]="stats"></app-games-statistics-global>
                <app-games-statistics-ranking class="col-sm-6" [stats]="stats"></app-games-statistics-ranking>
                <app-games-statistics-year class="col-sm-6" [stats]="stats"></app-games-statistics-year>
                <app-games-statistics-plays class="col-sm-6" [stats]="stats"></app-games-statistics-plays>
            </div>
        </div>
    </div>
    <div *ngIf="!loading && !bggUser">
        <h3>
            <p>Your boardgamegeek user is not yet configured.</p>
            <p>Please, send a mail to
                <A HREF="mailto:admin@my-games.ovh">admin@my-games.ovh</A>, with your BGG login, so that I configure your My-Games account!</p>
        </h3>
    </div>
</div>