<div *ngIf="loading">
    <mat-spinner></mat-spinner>
</div>
<div *ngIf="!loading" class="online-menu">
    <mat-slide-toggle class="online-menu-toggle" [(ngModel)]="includeExpansion">
        Expansions
    </mat-slide-toggle>
    <mat-slide-toggle class="online-menu-toggle" [(ngModel)]="includePreviouslyOwned">
        Previously Owned
    </mat-slide-toggle>
    <button mat-button-icon (click)="reload()">
        <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
    </button>
</div>