h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}

.menu-item {
  color: white;
  margin-right: 20px;
}
.menu-item:hover {
  color: lightgray;
}

.online-menu {
  margin-top: 10px;
  margin-left: 10px;
}

.online-menu-toggle {
  margin-right: 10px;
  margin-bottom: 10px;
}

.library-btn {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
}

.button-icon {
    font-size: 20px;
}

.library-thumbnail {
  margin: 30px;
}

.game-details {
  margin: 30px;
  width: 200px;
}

.statistics-container {
  margin-top: 10px;
  margin-left: 10px;
}

.full-details-container-description {
  max-height: 300px;
  overflow-y: scroll;
}

.full-details-container-button {
  margin-top : 20px;
}

.stats-global-date {
  font-style: italic;
}

.welcome-page-container {
  margin-top: 0px;
  background: #3f51b5;
  color: white;
  text-align: center;
  height: 600px;
}

.welcome-page-data {
 margin-top: 50px;
 margin-bottom: 20px;
}

.welcome-page-button {
 font-family: Arial, Helvetica, sans-serif;
 font-size: 250%;
 margin-top: 50px;
 margin-bottom: 20px;
 width: 250px;
 height: 70px;
}

.logout-button {
  float: right;
}
